body {
    background: #fff;
}
body,
html,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
a {
    color: unset;
}

.p-r-10 {
    padding-right: 10px;
}

.m-t-10 {
    margin-top: 10px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.bg-f {
    background: #fff;
}
.fixed {
    position: fixed;
}
.width-100 {
    width: 100%;
}
.height-100 {
    height: 100%;
}
.color-9 {
    color: #999;
}
.color-money {
    color: #ee0a24;
    font-size: 14px;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.text-center {
    text-align: center;
}
.color-f {
    color: #fff;
}

.flex-box {
    display: flex;
}
.flex-1 {
    flex: 1;
}

.justify-content {
    justify-content: space-between;
}
