.RNNXgb {
    border: 1px solid #4e6ef2 !important;
}

.gNO89b {
    background-color: #4e6ef2 !important;
    border: 1px solid #4e6ef2 !important;
    color: #fff !important;
}

.soutu-btn {
    background-image: url(https://pss.bdstatic.com/static/superman/img/searchbox/nicon-10750f3f7d.png);
    background-position: 0 -51px;
    width: 24px;
    height: 20px;
}

.soutu-btn:hover {
    background-position: 0 -75px;
}

.voice-btn {
    background-image: url(https://pss.bdstatic.com/static/superman/img/searchbox/nicon-10750f3f7d.png);
    background-position: 0 -2px;
    width: 24px;
    height: 20px;
}

.voice-btn:hover {
    background-position: 0 -26px;
}

.aajZCb {
    border-left: 1px solid #4e71f2 !important;
    border-right: 1px solid #4e71f2 !important;
    border-bottom: 1px solid #4e71f2 !important;
}